<li class="info_<%= info.id %>">
	<div class="var"><%= info.var %>
    <% if %w(areas).include?(controller_name) -%>
    	<span class="actions">
      <% if can? :update, Article %>
      		<%= link_to raw("<i class=\"icon-edit icon-large\"></i>"), 
            edit_admin_area_info_path(info.area_id, info), 
            :title => t("helpers.links.edit"),
            :rel => :tooltip %>
      <% end %>
      <% if can? :destroy, Article %>
        <%= link_to raw("<i class=\"icon-trash icon-large\"></i>"),
          admin_area_info_path(info.area_id, info),
          :method => :delete,
          :title => t("helpers.links.destroy"),
          :data => { :confirm => t("helpers.messages.confirm") },
          :rel => :tooltip %>
      <% end %>
    	</span>
    <% end %>
  </div>
  <div class="value">
    <% if info.var.include?( "官网" ) %>
      <a href="http://<%= info.value %>" target="_blank"><%= info.value %></a>
    <% else %>
      <%= info.value %>
    <% end %>
  </div>
</li>