<%- model_class = Province -%>

<%= render "base" %>

<%= simple_form_for :province, :url => destroy_multiple_admin_provinces_path, :html => { :class => "search-form" }  do |f| -%>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="select-all"><%= check_box_tag "select_all" %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:key) %></th>
        <th><%= model_class.human_attribute_name(:places_count) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th class="actions"><%= t("helpers.links.action") %></th>
      </tr>
    </thead>
    <tbody>
      <% @provinces.each do |province| %>
        <tr>
          <td class="select-all">
            <%= check_box_tag "province_ids[]", province.id, false, :id => "province_#{province.id}" %>
          </td>
          <td><%= province.name %></td>
          <td><%= province.key %></td>
          <td><%= province.places_count %></td>
          <td><%= l province.created_at.to_date, :format => :long %></td>
          <td class="actions">
            <%= link_to raw("<i class=\"icon-edit icon-large\"></i>"), 
                        edit_admin_province_path(province), 
                        :title => t("helpers.links.edit", :model_name => province.name),
                        :rel => :tooltip %>
            <%= link_to raw("<i class=\"icon-trash icon-large\"></i>"),
                        admin_province_path(province),
                        :method => :delete,
                        :title => t("helpers.links.destroy", :model_name => province.name),
                        :data => { :confirm => t("helpers.messages.confirm") },
                        :rel => :tooltip %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>

<div class="table-footer clearfix">
  <div class="paginates-info"><%= page_entries_info @provinces %></div>
  <%= paginate @provinces, :theme => "admin" %>
</div>