<%= render "base" %>
<a href="<%= admin_root_path %>" class="btn btn-primary">
	<i class="icon-ban-circle icon-large"></i>
	<b><%= t("helpers.links.back_home") %></b>
</a>
<% if can? :permission, User %>
	<%= link_to t("helpers.links.permission"), permission_admin_user_path(current_user), 
	  :title => t("helpers.links.permission"), :rel => :tooltip, :class => "btn btn-primary", :remote => true %>

	<div id="permissions-modal" class="modal fade">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">×</a>
	    <h3></h3>
	  </div>
	  <div class="modal-body">
	  </div>
	  <div class="modal-footer">
	    <a href="javascript:void(null);" class="btn" data-dismiss="modal"><%= t("helpers.links.close") %></a>
	  </div>
	</div>
<% end -%>