<%- model_class = Article -%>

<%= content_for :title do -%>
	<% if %w(new create).include?(action_name) -%>
		<%= t("helpers.submit.create", :model => model_class.model_name.human) %>
	<% end -%>

	<% if %w(edit update).include?(action_name) -%>
		<%= t("helpers.submit.update", :model => model_class.model_name.human) %>
	<% end -%>
<% end -%>

<%= content_for :sitemaps do -%>
	<a href="<%= admin_polymorphic_area_path(@model) %>"><%= @model.name %></a>
	<span class="divider">/</span>
	<a href="<%= admin_area_path(@area) %>"><%= @area.area_category.name %></a>
	<span class="divider">/</span>
	<% if %w(new create).include?(action_name) -%>
		<span class="active"><%= t("helpers.submit.create", :model => model_class.model_name.human) %></span>
	<% end -%>

	<% if %w(edit update).include?(action_name) -%>
		<span class="active"><%= t("helpers.links.edit") %></span>
	<% end -%>
<% end -%>

<%= content_for :toolbar do -%>
	<% if %w(new create edit update show).include?(action_name) -%>
		<div class="btn-group">
    <% if can? :read, model_class %>
  			<a href="<%= admin_area_path(@area) %>" class="btn">
  				<i class="icon-share-alt icon-large"></i><b><%= t("helpers.links.back_place", :place_name => @area.area_category.name) %></b>
  			</a>
    <% end %>
    <% if %w(show).include?(action_name) -%>
      <% if can? :update, model_class %>
        <a href="<%= edit_admin_area_article_path %>" class="btn">
    				  <i class="icon-edit icon-large"></i><b><%= t("helpers.links.edit_article") %></b>
    			  </a>
      <% end%>
     <% end%>
		</div>
	<% end -%>
<% end -%>
<%= content_for :sidebar do -%>
	<% if %w(new create edit update).include?(action_name) -%>
		<div class="well warning-bg">
			<ul class="nav nav-list">
			  <li class="nav-header"><%= t("helpers.links.tips") %></li>
			  <li>在同一个模版内，名字必须唯一。</li>
			  <li>在内容编辑器中可以插入图片。</li>
			</ul>
		</div>
	<% end -%>
<% end -%>