<%= content_for :title do -%>
	<% if !@article.blank? -%>
		<%= @article.title %>
	<% end -%>
<% end -%>

<div class="small-logo clearfix">
  <a href="<%= polymorphic_area_path(@model) %>">返回上一页</a>
  <%= image_tag "index/small.logo.png", :alt => Setting.app_name, :title => Setting.app_name %>
</div>
<div id="article">
  <h2><%= @article.title %></h2>
  
  <% if !@article.author.blank? %>
    <p class="author"><%= @article.author %></p>
  <% end -%>  
  <div class="content">
    <%= @article.body.html_safe %>
  </div>
  <div class="back_to"><a href="<%= polymorphic_area_path(@model) %>">返回上一页</a></div>
</div>
  