<%- model_class = Place -%>

<%= content_for :title do -%>
	<% if %w(index).include?(action_name) -%>
		<%= t("helpers.links.list") %>
	<% end -%>

	<% if %w(new create).include?(action_name) -%>
		<%= t("helpers.submit.create", :model => model_class.model_name.human) %>
	<% end -%>

	<% if %w(edit update).include?(action_name) -%>
		<%= t("helpers.submit.update", :model => model_class.model_name.human) %>
	<% end -%>

	<% if %w(show).include?(action_name) -%>
		<%= @place.name %>
	<% end -%>

	<% if %w(search).include?(action_name) -%>
		<%= t("helpers.links.search", :model => model_class.model_name.human) %>
	<% end -%>
<% end -%>

<%= content_for :sitemaps do -%>
	<a href="<%= admin_places_path %>"><%= model_class.model_name.human %></a>
	<span class="divider">/</span>
	<% if %w(index).include?(action_name) -%>
		<span class="active"><%= t("helpers.links.list") %></span>
	<% end -%>

	<% if %w(show).include?(action_name) -%>
		<span class="active"><%= @place.name %></span>
	<% end -%>

	<% if %w(new create).include?(action_name) -%>
		<span class="active"><%= t("helpers.submit.create", :model => model_class.model_name.human) %></span>
	<% end -%>

	<% if %w(edit update).include?(action_name) -%>
		<span class="active"><%= t("helpers.links.edit") %></span>
	<% end -%>

	<% if %w(search).include?(action_name) -%>
		<span class="active"><%= t("helpers.links.search", :model => model_class.model_name.human) %></span>
	<% end -%>

	<% if %w(edit_map update_map).include?(action_name) -%>
		<a href="<%= admin_place_path(@place) %>"><%= @place.name %></a>
		<span class="divider">/</span>
		<span class="active"><%= t("helpers.links.add_map") %></span>
	<% end -%>
<% end -%>

<%= content_for :toolbar do -%>
	<% if %w(index search).include?(action_name) -%>
		<div class="btn-group">
			<a href="<%= new_admin_place_path %>" class="btn">
				<i class="icon-pencil icon-large"></i><b><%= t("helpers.submit.create", :model => model_class.model_name.human) %></b>
			</a>
			<a href="javascript:void(0);" class="btn destroy-multiple" <%= "disabled=\"disabled\"" if @places.blank? %>>
				<i class="icon-trash icon-large"></i>
				<b><%= t("helpers.links.delete_all") %></b>
			</a>
		</div>
	<% end -%>
	<% if %w(show).include?(action_name) -%>
		<div class="btn-group">
			<a href="<%= edit_admin_place_path %>" class="btn">
				<i class="icon-edit icon-large"></i><b><%= t("helpers.links.edit") %></b>
			</a>
			<a href="<%= new_admin_place_video_path(@place) %>" class="btn">
				<i class="icon-film icon-large"></i><b><%= t("helpers.links.add_video") %></b>
			</a>
			<a href="<%= new_admin_place_audio_path(@place) %>" class="btn">
				<i class="icon-volume-up icon-large"></i><b><%= t("helpers.links.add_audio") %></b>
			</a>
			<a href="<%= new_admin_place_article_path(@place) %>" class="btn">
				<i class="icon-book icon-large"></i><b><%= t("helpers.links.add_article") %></b>
			</a>
			<a href="<%= new_admin_place_info_path(@place) %>" class="btn">
				<i class="icon-pushpin icon-large"></i><b><%= t("helpers.links.add_info") %></b>
			</a>
			<a href="<%= admin_place_path(@place) %>" class="btn" data-confirm="<%= t("helpers.messages.confirm") %>" data-method="delete">
				<i class="icon-trash icon-large"></i><b><%= t("helpers.links.destroy") %></b>
			</a>
		</div>
	<% end -%>
	<% if %w(new create).include?(action_name) -%>
		<div class="btn-group">
			<a href="<%= admin_places_path %>" class="btn">
				<i class="icon-table icon-large"></i><b><%= t("helpers.links.back_list") %></b>
			</a>
		</div>
	<% end -%>
	<% if %w(edit update).include?(action_name) -%>
		<div class="btn-group">
			<a href="<%= admin_place_path(@place) %>" class="btn">
				<i class="icon-share-alt icon-large"></i><b><%= t("helpers.links.back_place", :place_name => @place.name) %></b>
			</a>
			<a href="<%= admin_places_path %>" class="btn">
				<i class="icon-table icon-large"></i><b><%= t("helpers.links.back_list") %></b>
			</a>
		</div>
	<% end -%>
	<div class="btn-group pull-right">
		<div class="controls pagination-right search">
	    <%= simple_form_for :place, :url => search_admin_places_path do |f| -%>
	      <div class="input-append">
	        <%= f.input_field :name, :placeholder => t("helpers.placeholder.search", :model => model_class.model_name.human) %>
	        <button type="submit" class="btn"><i class="icon-search"></i></button>
	      </div>
	    <% end -%>
	  </div>
	</div>
<% end -%>
<%= content_for :sidebar do -%>
	<% if %w(new create edit update).include?(action_name) -%>
		<div class="well warning-bg">
			<ul class="nav nav-list">
			  <li class="nav-header"><%= t("helpers.links.tips") %></li>
			  <li>地图只能是（jpg，png，gif）等格式的图片。</li>
			  <li>地图不得大于10M。</li>
			</ul>
		</div>
	<% end -%>
<% end -%>