<%- model_class = Place -%>

<%= simple_form_for :place, :url => update_map_admin_place_path(@place), 
                    :html => { :multipart => true, :id => "map-fileupload" },
                    :remote => true do |f| %>
  <div class="fileupload-buttonbar">
    <div class="map-upload">
      <span class="btn btn-success btn-huge fileinput-button">
        <i class="icon-plus icon-white icon-large"></i>
        <b><%= t("fileupload.links.add") %></b>
        <%= f.input :map, :as => :file, :hint => false, :label => false %>
      </span>
    </div>
  </div>
  <div class="fileupload-loading"></div>
  <div id="map-files" class="files"></div>
<% end %>

<%= render "admin/shared/template-upload-map" %>
<%= render "admin/shared/template-download-map" %>