<li class="span3 place_<%= place.id %>">
	<a href="<%= admin_place_path(place) %>" class="thumbnail">
		<%= image_tag place.map.url(:thumb) %>
		<span class="name"><%= place.name %></span>
	</a>
	<div class="other">
    <% if can? :update, Place %>
  		<%= link_to raw("<i class=\"icon-edit icon-large\"></i>"), 
        edit_admin_place_path(place), 
        :title => t("helpers.links.edit"),
        :rel => :tooltip %>
    <% end -%>
    <% if can? :new, Video %>
      <%= link_to raw("<i class=\"icon-film icon-large\"></i>"), 
        new_admin_place_video_path(place), 
        :title => t("helpers.links.video"),
        :rel => :tooltip %>
    <% end -%>
    <% if can? :new, Audio %>
      <%= link_to raw("<i class=\"icon-volume-up icon-large\"></i>"), 
        new_admin_place_audio_path(place), 
        :title => t("helpers.links.audio"),
        :rel => :tooltip %>
    <% end -%>
    <% if can? :new, Article %>
      <%= link_to raw("<i class=\"icon-book icon-large\"></i>"), 
        new_admin_place_article_path(place), 
        :title => t("helpers.links.article"),
        :rel => :tooltip %>
    <% end -%>
    <% if can? :new, Info %>
      <%= link_to raw("<i class=\"icon-pushpin icon-large\"></i>"), 
      new_admin_place_info_path(place), 
      :title => t("helpers.links.info"),
      :rel => :tooltip %>
    <% end -%>
    <% if can? :destroy, Place %>
      <%= link_to raw("<i class=\"icon-trash icon-large\"></i>"),
        admin_place_path(place),
        :method => :delete,
        :title => t("helpers.links.destroy"),
        :data => { :confirm => t("helpers.messages.confirm") },
        :rel => :tooltip %>
    <% end -%>
    <% if can? :publish, Place %>
      <% if place.draft? %>
        <%= link_to raw("<i class=\"icon-lock icon-large\"></i>"), 
          publish_admin_place_path(place, Place.statuses.publish(true)), 
          :title => t("activerecord.enums.place.status.draft"),
          :rel => :tooltip %>
      <% end -%>
      <% if place.publish? %>
        <%= link_to raw("<i class=\"icon-unlock icon-large\"></i>"), 
          publish_admin_place_path(place, Place.statuses.draft(true)), 
          :title => t("activerecord.enums.place.status.publish"),
          :rel => :tooltip %>
      <% end -%>
    <% end -%>
	</div>
</li>