<%- model_class = Place -%>
<%= render "base" %>
<%= simple_form_for :place, :url => destroies_admin_places_path, :html => { :class => "search-form" }  do |f| -%>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="select-all"><%= check_box_tag "select_all" %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:key) %></th>
        <th><%= model_class.human_attribute_name(:areas_count) %></th>
        <th><%= model_class.human_attribute_name(:order) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th class="actions"><%= t("helpers.links.action") %></th>
      </tr>
    </thead>
    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td class="select-all">
            <%= check_box_tag "place_ids[]", place.id, false, :id => "place_#{place.id}" %>
          </td>
          <td><a href="<%= admin_place_path(place) %>"><%= place.name %></a></td>
          <td><%= place.key %></td>
          <td><%= place.areas_count %></td>
          <td><%= place.order %></td>
          <td><%= l place.created_at.to_date, :format => :long %></td>
          <td class="actions">
            <% if can? :read, Place %>
              <%= link_to raw("<i class=\"icon-eye-open icon-large\"></i>"), 
                          admin_place_path(place), 
                          :title => t("helpers.links.read", :model_name => place.name),
                          :rel => :tooltip %>
            <% end -%>
            <% if can? :update, Place %>
              <%= link_to raw("<i class=\"icon-edit icon-large\"></i>"), 
                          edit_admin_place_path(place), 
                          :title => t("helpers.links.edit", :model_name => place.name),
                          :rel => :tooltip %>
            <% end -%>
            <% if can? :destroy, Place %>
              <%= link_to raw("<i class=\"icon-trash icon-large\"></i>"),
                          admin_place_path(place),
                          :method => :delete,
                          :title => t("helpers.links.destroy", :model_name => place.name),
                          :data => { :confirm => t("helpers.messages.confirm") },
                          :rel => :tooltip %>
            <% end -%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>

<div class="table-footer clearfix">
  <div class="paginates-info"><%= page_entries_info @places %></div>
  <%= paginate @places, :theme => "admin" %>
</div>
<div id="ajax-form" class="modal hide fade in">
	<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3></h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">
    	<i class="icon-save icon-large"></i>
    	<b><%= t("helpers.links.save") %></b>
    </button>
    <a href="#" class="btn" data-dismiss="modal"><%= t("helpers.links.cancel") %></a>
  </div>
</div>