<%= render "base" %>
<fieldset id="map">
	<legend><%= t("helpers.links.map") %></legend>
	<div class="control-group">
		<%= image_tag @place.map.thumb_middle.url %>
	</div>
</fieldset>
<fieldset id="video">
<legend><%= t("helpers.links.video") %></legend>
  <div class="control-group">
    <% if !@videos.blank? %>
      <ul class="thumbnails">
      <% @videos.each do |video| -%>
        <%= render :partial => "admin/videos/video", :object => video %>
      <% end -%>
      </ul>
    <% end -%>
  </div>
</fieldset>
<fieldset id="audio">
	<legend><%= t("helpers.links.audio") %></legend>
  <div class="control-group">
    <% if !@audios.blank? %>
      <ul class="thumbnails">
        <% @audios.group_by(&:category_cd).each do |category, audios| -%>
          <% if !audios.blank? -%>
            <li class="span5">
              <% Audio.categories.each do |key, value| -%>
                <% if value == category -%>
                  <div class="name clearfix">
                    <h4><%= t("activerecord.enums.audio.categories.#{key.to_s}") %></h4>
                  </div>
                <% end -%>
              <% end -%>
              <%= render :partial => "admin/audios/audios", :locals => { :audios => audios, :category => category } %>
            </li>
          <% end -%>
        <% end -%>
      </ul>
    <% end -%>
  </div>
</fieldset>
<fieldset id="article">
	<legend><%= t("helpers.links.article") %></legend>
  <% if !@articles.blank? %>
    <div class="control-group">
      <% @articles.group_by(&:category_cd).each do |category, articles| -%>
        <% if !articles.blank? %>
          <% Article.categories.each do |key, value| -%>
            <% if value == category -%>
              <h4><%= t("activerecord.enums.article.categories.#{key.to_s}") %></h4>
            <% end -%>
          <% end -%>
          <ul>
            <% articles.each do |article| -%>
              <%= render :partial => "admin/articles/article", :object => article %>
            <% end -%>    
          </ul>
        <% end -%>
      <% end -%>
    </div>
  <% end -%>
  <% if !@article_recommends.blank? %>
    <div class="control-group">
      <h4><%= t("activerecord.enums.article.categories.recommend") %></h4>
      <% @article_recommends.each do |article| -%>
        <%= render :partial => "admin/articles/article", :object => article %>
      <% end -%>
    </div>
  <% end -%>
</fieldset>
<fieldset id="info">
	<legend><%= t("helpers.links.info") %></legend>
    <ul class="control-group unstyled">
      <% if @infos.blank? -%>
      <% else -%>
        <% @infos.each do |info| %>
          <%= render :partial => "admin/infos/info", :object => info %>
        <% end -%>
      <% end -%>
    </ul>
</fieldset>