<div class="data light" id="title_<%= area.order %>">
  <h3 class="place"><%= area.area_category.name %></h3>
  <% if !area.area_category.description.blank? %>
    <h5 class="remark"><%= area.area_category.description %></h5>
  <% end %>
  <% if !area.articles.blank? %>
    <% area.articles.order_asc.each_with_index do |article,i| -%>
      <% if i == 0 %>
        <div class="stories stories_top clearfix">
      <% else %>
        <div class="stories clearfix">
      <% end %>
        <span class="tab">●</span>
        <a class="article" href="<%= polymorphic_detailed_path(model,article) %>">
          <% if count%2 > 0 %>
            【<%= truncate(article.title, :length => 15, :separator => ' ')%>】
          <% else %>
            【<%= truncate(article.title, :length => 15, :separator => ' ')%>】
          <% end %>
        </a>
      </div>
    <% end %>
  <% end %>
</div>