<div class="data" id="H">
  <h3 class="place"><%= area.area_category.name %></h3>
    <div class="light">
    <% if !area.area_category.description.blank? %>
      <h5 class="remark"><%= area.area_category.description %></h5>
    <% end %>
    <% if !area.audios.blank? %>
      <% area.audios.order_asc.each_with_index do |audio,i| -%>
        <% if i == 0 %>
          <div class="stories stories_top hert">
        <% else %>
          <div class="stories hert">
        <% end %>
          <div class="clearfix">
            <span class="tab">●</span>
            <a class="story_name" href="<%= polymorphic_detailed_path(model,audio) %>" title="<%= audio.name %>">
              <% if i < 9 %>
                0<%= i + 1 %>.<%= audio.name %>
              <% else %>
                <%= i + 1 %>.<%= audio.name %>
              <% end %>
            </a>
            <a href="<%= polymorphic_detailed_path(model,audio) %>" title="<%= audio.name %>">|播放|</a>
          </div>
          <span class="other_2 hert">
              文件大小：<%= (audio.attachment_size/(1024*1024.0)).round(2) %>M &nbsp 时长：<%= audio.duration %>
          </span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>