<div class="choose dark data" id="choose">
  <h3><%= area.area_category.name %></h3>
  <h5 class="remark"><%= area.area_category.description %></h5>
  <ul class="clearfix">
    <% for i in 0..3 do -%>
      <% if !articles[i].blank? %>
        <% case i %>
        <% when 0 %>
          <li class="food">
            <a href="<%= polymorphic_detailed_path(@model,articles[0]) %>" class="wrapper">
              <div class="content clearfix">
                <%= image_tag "index/meishi.jpg" %>
                <span>美食</span>					
              </div>
              <span class="english">Food</span>
            </a>
          </li>
        <% when 1 %>
          <li class="shopping">
            <a href="<%= polymorphic_detailed_path(@model,articles[1]) %>" class="wrapper">
              <div class="content clearfix">
                <%= image_tag "index/gouwu.jpg" %>
                <span>购物</span>
              </div>
              <span class="english">Shopping</span>
            </a>
          </li>
        <% when 2 %>
          <li class="entertainment">
            <a href="<%= polymorphic_detailed_path(@model,articles[2]) %>" class="wrapper">
              <div class="content clearfix">
                <%= image_tag "index/yule.jpg" %>
                <span>娱乐</span>
              </div>
              <span class="english">Entertainment</span>
            </a>
          </li>
        <% when 3 %>
          <li class="hotel">
            <a href="<%= polymorphic_detailed_path(@model,articles[3]) %>" class="wrapper">
              <div class="content clearfix">
                <%= image_tag "index/zhusu.jpg" %>
                <span>住宿</span>
              </div>
              <span class="english">Hotel</span>
            </a>
          </li>
        <% end %>
      <% else %>
          <li class="hotel">
            <a href="#" class="wrapper">
            </a>
          </li>
      <% end %>
    <% end %>
  </ul>
</div>