<div class="data light" id="title_<%= area.order %>">
  <h3 class="minority"><%= area.area_category.name %></h3>
  <% if !area.area_category.description.blank? %>
      <h5 class="remark"><%= area.area_category.description %></h5>
    <% end %>
   <% if !area.images.blank? %>
      <% area.images.order_asc.each do |image| -%>
        <div class="costumes">
          <%= image_tag image.image.url, :class => "smallMap", :alt => model.name, :title => model.name %>
        </div>
      <% end %>
    <% end %>
    <% if !area.area_category.description.blank? %>
      <p class="crafts">
        &nbsp &nbsp &nbsp &nbsp <%= area.area_category.description %>
      </p>
    <% end %>
    
  
  <% if !area.articles.blank? %>
    <% area.articles.order_asc.each_with_index do |article,i| -%>
      <% if i == 0 %>
        <div class="stories stories_top clearfix">
      <% else %>
        <div class="stories clearfix">
      <% end %>
        <span class="tab">●</span>
        <a class="article" href="<%= polymorphic_detailed_path(model,article) %>">
          <%= truncate(article.title, :length => 15, :separator => ' ')%>
        </a>
      </div>
    <% end %>
  <% end %>
</div>