<div class="choose dark data" id="choose">
  <h3 class="place"><%= area.area_category.name %></h3>
  <h5 class="remark"><%= area.area_category.description %></h5>
  <ul class="clearfix">
    <% for i in 0..3 do -%>
      <% if !articles[i].blank? %>
        <% case i %>
        <% when 0 %>
          <a href="<%= polymorphic_detailed_path(@model,articles[0]) %>" class="wrapper">
            <li class="choose_<%= i %>">
              <div class="front">
                <div class="content clearfix">
                  <%= image_tag "index/meishi.jpg" %>
                  <span>美食</span>         
                </div>
                <span class="english">Food</span>
              </div>
            </li>
          </a>
        <% when 1 %>
          <a href="<%= polymorphic_detailed_path(@model,articles[1]) %>" class="wrapper">
            <li class="choose_<%= i %>">
              <div class="front">
                <div class="content clearfix">
                  <%= image_tag "index/gouwu.jpg" %>
                  <span>购物</span>
                </div>
                <span class="english">Shopping</span>
              </div>
            </li>
          </a>
        <% when 2 %>
          <a href="<%= polymorphic_detailed_path(@model,articles[2]) %>" class="wrapper">
            <li class="choose_<%= i %>">
              <div class="front">
                <div class="content clearfix">
                  <%= image_tag "index/yule.jpg" %>
                  <span>娱乐</span>
                </div>
                <span class="english">Entertainment</span>
              </div>
            </li>
          </a>
        <% when 3 %>
          <a href="<%= polymorphic_detailed_path(@model,articles[3]) %>" class="wrapper">
            <li class="choose_<%= i %>">
              <div class="front">
                <div class="content clearfix">
                  <%= image_tag "index/zhusu.jpg" %>
                  <span>住宿</span>
                </div>
                <span class="english">Hotel</span>
              </div> 
            </li>
          </a>
        <% end %>
      <% else %>
        <div class="nothing">
          <li class="choose_<%= i %>">
            <div class="front">
            </div>
          </li>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>