<div class="map data" id="A">
	<h3><%= area.area_category.name %></h3>
	<div class="light">
		<h5 class="remark"><%= area.area_category.description %></h5>
		<a href="/Places/demowhc/map.htm" title="<%= @place.name %>地图">
			<img class="smallMap" src="/Places/demowhc/Images/map-Tubnil.jpg" title="<%= @place.name %>地图" alt="<%= @place.name %>地图" />
		</a>
		<span class="content">点击上图查看</span>
		<span class="prompt">大图</span>
		<span class="content">和</span>
		<span class="prompt">详细信息</span>
	</div>
</div>