<% if !area.blank? %>
    <li class="span3 area_index">
      <div class="other">
        <span class="name"><%= area.area_category.name %></span>
    		<span class="actions">
        <% if can? :update, area %>
      			<%= link_to raw("<i class=\"icon-edit icon-large\"></i>"), 
             	edit_admin_area_path(area), 
             	:title => t("helpers.links.edit"),
              :rel => :tooltip %>
        <% end %>
        <% if can? :destroy, area %>
      	    <%= link_to raw("<i class=\"icon-trash icon-large\"></i>"),
      	      admin_area_path(area),
              :method => :delete,
              :title => t("helpers.links.destroy"),
              :data => { :confirm => t("helpers.messages.confirm") },
              :rel => :tooltip %>
        <% end %>
    		</span>
        <% if area.images_count == 0 && area.infos_count == 0 && area.videos_count == 0 && area.audios_count == 0 && area.articles_count == 0 %>
          <span class="total">无数据</span>
        <% end %>
    	</div>
    	<a href="<%= admin_area_path(area) %>" class="thumbnail">
        <% if area.areable_type == "Minority" && area.area_category.style_type_cd ==1 %>
          <%= image_tag "area/#{area.area_category.style_type_cd}_other.jpg" %>
        <% else %>
    		  <%= image_tag "area/#{area.area_category.style_type_cd}.jpg" %>
        <% end %>
    	</a>
    </li>
<% end %>