<%- model_class = Area -%>

<%= content_for :title do -%>
	<% if %w(index).include?(action_name) -%>
		<%= t("helpers.links.list") %>
	<% end -%>

	<% if %w(new create).include?(action_name) -%>
		<%= t("helpers.submit.create", :model => model_class.model_name.human) %>
	<% end -%>

	<% if %w(edit update).include?(action_name) -%>
		<%= t("helpers.submit.update", :model => model_class.model_name.human) %>
	<% end -%>
  <% if %w(show).include?(action_name) -%>
		<%= @area.area_category.name %>
	<% end -%>
	<% if %w(search).include?(action_name) -%>
		<%= t("helpers.links.search", :model => model_class.model_name.human) %>
	<% end -%>
<% end -%>

<%= content_for :sitemaps do -%>
  <% if !%w(index).include?(action_name) %>
    	<a href="<%= admin_polymorphic_path(@model) %>"><%= @model.class.model_name.human %></a>
  <% else %>
    <%= model_class.model_name.human %>
  <% end %>
	<span class="divider">/</span>
  <% if !%w(index).include?(action_name) %>
  <a href="<%= admin_polymorphic_area_path(@model) %>"><%= @model.name %></a>
  <% else %>
    <%= @model.name %>
  <% end %>
	<span class="divider">/</span>
	<% if %w(index ).include?(action_name) -%>
		<span class="active"><%= t("helpers.links.list") %></span>
	<% end -%>

	<% if %w(new create).include?(action_name) -%>
		<span class="active"><%= t("helpers.submit.create", :model => model_class.model_name.human) %></span>
	<% end -%>

	<% if %w(edit update).include?(action_name) -%>
		<span class="active"><%= t("helpers.submit.update", :model => model_class.model_name.human) %></span>
	<% end -%>
  <% if %w(show).include?(action_name) -%>
		<span class="active"><%= @area.area_category.name %></span>
	<% end -%>
  	<% if %w(search).include?(action_name) -%>
		<span class="active"><%= t("helpers.links.search", :model => model_class.model_name.human) %></span>
	<% end -%>

	<% if %w(edit_map update_map).include?(action_name) -%>
		<a href="<%=  %>"><%=  %></a>
		<span class="divider">/</span>
		<span class="active"><%= t("helpers.links.add_map") %></span>
	<% end -%>
  <% end -%>
<%= content_for :toolbar do -%>
	<% if %w(show).include?(action_name) -%>
		<div class="btn-group">
      <% if can? :read, Place %>
				<a href="<%= admin_polymorphic_area_path(@model) %>" class="btn">
					<i class="icon-share-alt icon-large"></i><b><%= t("helpers.links.back_place", :place_name => @model.name) %></b>
				</a>
			<% end -%>
			<% if can? :update, model_class %>
				<a href="<%= edit_admin_area_path(@area) %>" class="btn">
					<i class="icon-edit icon-large"></i><b><%= t("helpers.links.edit_place", :model => model_class.model_name.human) %></b>
				</a>
			<% end -%>
      <% if can? :destroy, model_class %>
				<a href="<%= admin_area_path(@area) %>" class="btn" data-confirm="<%= t("helpers.messages.confirm") %>" data-method="delete">
					<i class="icon-trash icon-large"></i><b><%= t("helpers.links.destroy_place", :model => model_class.model_name.human) %></b>
				</a>
			<% end -%>
			<% if (can? :new, Image) && @area.area_category.decide_purview(Image) %>
				<a href="<%= new_admin_area_image_path(@area) %>" class="btn">
					<i class="icon-picture icon-large"></i><b><%= t("helpers.links.add_image") %></b>
				</a>
			<% end -%>
			<% if (can? :new, Video) && @area.area_category.decide_purview(Video) %>
				<a href="<%= new_admin_area_video_path(@area) %>" class="btn">
					<i class="icon-film icon-large"></i><b><%= t("helpers.links.add_video") %></b>
				</a>
			<% end -%>
			<% if (can? :new, Audio) && @area.area_category.decide_purview(Audio) %>
				<a href="<%= new_admin_area_audio_path(@area) %>" class="btn">
					<i class="icon-volume-up icon-large"></i><b><%= t("helpers.links.add_audio") %></b>
				</a>
			<% end -%>
			<% if (can? :new, Article) && @area.area_category.decide_purview(Article) %>
				<a href="<%= new_admin_area_article_path(@area) %>" class="btn">
					<i class="icon-book icon-large"></i><b><%= t("helpers.links.add_article") %></b>
				</a>
			<% end -%>
			<% if (can? :new, Info) && @area.area_category.decide_purview(Info) %>
				<a href="<%= new_admin_area_info_path(@area) %>" class="btn">
					<i class="icon-pushpin icon-large"></i><b><%= t("helpers.links.add_info") %></b>
				</a>
			<% end -%>
		</div>
  <% end %>
	<% if %w(new create edit update).include?(action_name) -%>
		<div class="btn-group">
			<% if can? :read, model_class %>
				<a href="<%= admin_polymorphic_area_path(@model) %>" class="btn">
					<i class="icon-share-alt icon-large"></i><b><%= t("helpers.links.back_place",:place_name => @model.name) %></b>
				</a>
			<% end -%>
		</div>
	<% end -%>
<% end -%>
<%= content_for :sidebar do -%>
	<% if %w(new create edit update).include?(action_name) -%>
		<div class="well warning-bg">
			<ul class="nav nav-list">
			  <li class="nav-header"><%= t("helpers.links.tips") %></li>
        <li>同一景点或民族同一模板唯一。</li>
			</ul>
		</div>
	<% end -%>
<% end -%>