<%= render "base" %>
<fieldset>
  <legend><%= t("helpers.links.#{ @area.area_category.name }") %></legend>
  <li class="span5">
  <% case @area.area_category.style_type_cd %>
  <% when 0 %>
    <%= render :partial => "admin/shared/area_types/style_0", :locals => { :area => @area } %>
  <% when 1 %>
    <%= render :partial => "admin/shared/area_types/style_1", :locals => { :area => @area } %>
  <% when 2 %>
    <%= render :partial => "admin/shared/area_types/style_2", :locals => { :area => @area } %>
  <% when 3 %>
    <%= render :partial => "admin/shared/area_types/style_3", :locals => { :area => @area } %>
  <% end %>
</li>
</fieldset>