<%- model_class = AreaCategory -%>

<%= simple_form_for [:admin, @area_category], :html => { :class => "special-form" } do |f| %>
  <fieldset>
  	<% if %w(new create).include?(action_name) %>
	  	<legend><%= t("helpers.submit.create", :model => model_class.model_name.human) %></legend>
  	<% end -%>
  	<% if %w(edit update).include?(action_name) %>
	  	<legend><%= t("helpers.submit.update", :model => model_class.model_name.human) %></legend>
  	<% end -%>
		<%= error_messages_for @area_category, :class => "control-group alert alert-error fade in", :close => :true %>
	  <%= f.input :name, :input_html => { :class => "span-full" } %>
    <%= f.input :style_type_cd do %>
	  	<%= f.select :style_type_cd, model_class.style_types_for_select(:value) %>
	  <% end -%>
    <%= f.input :description, :as => :text, :input_html => { :class => "span-full" } %>
	  <div class="form-actions">
	    <button type="submit" class="btn btn-primary">
	    	<i class="icon-save icon-large"></i>
	    	<% if %w(new create).include?(action_name) %>
		    	<b><%= t("helpers.submit.create", :model => model_class.model_name.human) %></b>
	    	<% end -%>
	    	<% if %w(edit update).include?(action_name) %>
	    		<b><%= t("helpers.submit.update", :model => model_class.model_name.human) %></b>
	    	<% end -%>
	    </button>
	    <a href="<%= admin_area_categories_path %>" class="btn">
	    	<i class="icon-ban-circle icon-large"></i>
	    	<b><%= t("helpers.links.cancel") %></b>
	    </a>
	  </div>
  </fieldset>
<% end %>

