<%- model_class = AreaCategory -%>

<%= render "base" %>

<%= simple_form_for :area_category, :url => destroies_admin_area_categories_path, :html => { :class => "search-form" }  do |f| -%>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="select-all"><%= check_box_tag "select_all" %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
         <th><%= model_class.human_attribute_name(:category_cd) %></th>
        <th><%= model_class.human_attribute_name(:style_type_cd) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th class="actions"><%= t("helpers.links.action") %></th>
      </tr>
    </thead>
    <tbody>
      <% @area_categories.each do |area_category| %>
        <tr>
          <td class="select-all">
            <%= check_box_tag "area_category_ids[]", area_category.id, false, :id => "area_category_#{area_category.id}" %>
          </td>
          <td><%= area_category.name %></td>
          <td><%= t("activerecord.enums.area_category.categories.#{model_class.categories.key(area_category.category_cd)}") %></td>
          <td><%= t("activerecord.enums.area_category.style_types.#{model_class.style_types.key(area_category.style_type_cd)}") %></td>
          <td><%= l area_category.created_at.to_date, :format => :long %></td>
          <td class="actions">
            <% if can? :update, AreaCategory %>
              <%= link_to raw("<i class=\"icon-edit icon-large\"></i>"), 
                          edit_admin_area_category_path(area_category), 
                          :title => t("helpers.links.edit", :model_name => area_category.name),
                          :rel => :tooltip %>
            <% end -%>
            <% if can? :destroy, AreaCategory %>
              <%= link_to raw("<i class=\"icon-trash icon-large\"></i>"),
                          admin_area_category_path(area_category),
                          :method => :delete,
                          :title => t("helpers.links.destroy", :model_name => area_category.name),
                          :data => { :confirm => t("helpers.messages.confirm") },
                          :rel => :tooltip %>
            <% end -%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>

<div class="table-footer clearfix">
  <div class="paginates-info"><%= page_entries_info @area_categories %></div>
  <%= paginate @area_categories, :theme => "admin" %>
</div>