<%- model_class = Role -%>
<%= content_for :title do -%>
	<% if %w(index).include?(action_name) -%>
		<%= t("helpers.links.list") %>
	<% end -%>

	<% if %w(new create).include?(action_name) -%>
		<%= t("helpers.submit.create", :model => model_class.model_name.human) %>
	<% end -%>

	<% if %w(edit update).include?(action_name) -%>
		<%= t("helpers.submit.update", :model => model_class.model_name.human) %>
	<% end -%>
<% end -%>

<%= content_for :sitemaps do -%>

 <% if !%w(index).include?(action_name) %>
	  <a href="<%= admin_roles_path %>"><%= model_class.model_name.human %></a>
  <% else %>
    <%= model_class.model_name.human %>
  <% end %>
	<span class="divider">/</span>
	<% if %w(index).include?(action_name) -%>
		<span class="active"><%= t("helpers.links.list") %></span>
	<% end -%>

	<% if %w(new create).include?(action_name) -%>
		<span class="active"><%= t("helpers.links.new") %></span>
	<% end -%>

	<% if %w(edit update).include?(action_name) -%>
		<span class="active"><%= t("helpers.links.edit") %></span>
	<% end -%>
<% end -%>

<%= content_for :toolbar do -%>
	<% if %w(index search).include?(action_name) -%>
		<div class="btn-group">
    <% if can? :new, model_class %>
  			<a href="<%= new_admin_role_path %>" class="btn">
  				<i class="icon-pencil icon-large"></i><b><%= t("helpers.submit.create", :model => model_class.model_name.human) %></b>
  			</a>
  			<a href="javascript:void(0);" class="btn destroy-multiple" <%= "disabled=\"disabled\"" if @roles.blank? %>>
  				<i class="icon-trash icon-large"></i>
  				<b><%= t("helpers.links.delete_all") %></b>
  			</a>
    <% end %>
		</div>
	<% end -%>
	<% if %w(new create).include?(action_name) -%>
		<div class="btn-group">
    <% if can? :read, model_class %>
  			<a href="<%= admin_roles_path %>" class="btn">
  				<i class="icon-table icon-large"></i><b><%= t("helpers.links.back_list") %></b>
  			</a>
    <% end %>
		</div>
	<% end -%>
	<% if %w(edit update).include?(action_name) -%>
		<div class="btn-group">
    <% if can? :new, model_class %>
  			<a href="<%= new_admin_role_path %>" class="btn">
  				<i class="icon-pencil icon-large"></i><b><%= t("helpers.submit.create", :model => model_class.model_name.human) %></b>
  			</a>
    <% end %>
    <% if can? :read, model_class %>
  			<a href="<%= admin_roles_path %>" class="btn">
  				<i class="icon-table icon-large"></i><b><%= t("helpers.links.back_list") %></b>
  			</a>
    <% end %>
		</div>
	<% end -%>
	<div class="btn-group pull-right">
		<div class="controls pagination-right search">
	    <%= simple_form_for :role, :url => search_admin_roles_path do |f| -%>
	      <div class="input-append">
	        <%= f.input_field :name, :placeholder => t("helpers.placeholder.search", :model => model_class.model_name.human), :value => nil %>
	        <button type="submit" class="btn"><i class="icon-search"></i></button>
	      </div>
	    <% end -%>
	  </div>
	</div>
<% end -%>
<%= content_for :sidebar do -%>
	<% if %w(new create edit update).include?(action_name) -%>
		<div class="well warning-bg">
			<ul class="nav nav-list">
			  <li class="nav-header"><%= t("helpers.links.tips") %></li>
			  <li>当勾选了“所有模块”—“全部”的时候，拥有全部权限。</li>
			</ul>
		</div>
	<% end -%>
<% end -%>