<% Permission.all.group_by(&:name).each do |key, permission_group| -%>
	<div class="controls <%= key.split(".").last.downcase %>">
		<label class="control-label"><%= t(key) %></label>
		<% permission_group.each do |permission| -%>
			<label class="checkbox inline <%= permission.description.split(".").last %>">
				<%= check_box_tag "role[permission_ids][]", permission.id, @role.permissions.include?(permission) %>
        <% if %w(Setting).include?(permission.subject_class) & %w(permission.actions.read).include?(permission.description)%>
				    <%= t("helpers.links.setting") %>
        <% else %>
          <%= t(permission.description ) %>
        <% end %>
			</label>
		<% end -%>
	</div>
<% end -%>