<%- model_class = Role -%>

<%= render "base" %>

<%= simple_form_for :role, :url => destroies_admin_roles_path, :html => { :class => "search-form" }  do |f| -%>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="select-all"><%= check_box_tag "select_all" %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th class="actions"><%= t("helpers.links.action") %></th>
      </tr>
    </thead>
    <tbody>
      <% @roles.each do |role| %>
        <tr>
          <td class="select-all">
            <%= check_box_tag "role_ids[]", role.id, false, :id => "role_#{role.id}" %>
          </td>
          <td><strong><%= role.name %></strong></td>
          <td><%= role.description %></td>
          <td><%= l role.created_at.to_date, :format => :long %></td>
          <td class="actions">
            <% if can? :update, Role %>
              <%= link_to raw("<i class=\"icon-edit icon-large\"></i>"), 
                          edit_admin_role_path(role), 
                          :title => t("helpers.links.edit"),
                          :rel => :tooltip %>
            <% end -%>
            <% if can? :destroy, Role %>
              <%= link_to raw("<i class=\"icon-trash icon-large\"></i>"),
                          admin_role_path(role),
                          :method => :delete,
                          :title => t("helpers.links.destroy"),
                          :data => { :confirm => t("helpers.messages.confirm") },
                          :rel => :tooltip %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>

<div class="table-footer clearfix">
  <div class="paginates-info"><%= page_entries_info @roles %></div>
  <%= paginate @roles, :theme => "admin" %>
</div>