<%- model_class = Place -%>
<div id="places" class="hero-unit newest-places alert-warning">
	<h6>最新添加的景区</h6>
	<%= simple_form_for :place do |f| -%>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="name"><%= model_class.human_attribute_name(:name) %></th>
        <th class="key"><%= model_class.human_attribute_name(:key) %></th>
        <th class="middle"><%= model_class.human_attribute_name(:areas_count) %></th>
        <th class="middle"><%= model_class.human_attribute_name(:order) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
      </tr>
    </thead>
    <tbody>
      <% @newest_places.each do |place| %>
        <tr>
          <td class="name"><a class= "title" href="<%= admin_place_path(place) %>"><%= place.name %></a></td>
          <td class="key"><%= place.key %></td>
          <td class="middle"><%= place.areas_count %></td>
          <td class="middle"><%= place.order %></td>
          <td><%= l place.created_at.to_date, :format => :long %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>
</div>