<div class="well statistics alert-info">
	<h6>统计信息</h6>
	<ul class="nav nav-list clearfix">
		<%= statistics_item "Province" %>
		<%= statistics_item "Place" %>
		<%= statistics_item "Video" %>
		<%= statistics_item "Audio" %>
		<%= statistics_item "Article" %>
		<%= statistics_item "Info" %>
		<%= statistics_item "User" %>
		<%= statistics_item "Role" %>
	</ul>
</div>