<%= render "base" %>
<div class="row">
	<div class="span12"><%= render "lnk_tools" %></div>
</div>
<div class="row">
	<div class="span8"><%= render "newest_places" %></div>
	<div class="span4"><%= render "statistics" %></div>
  <div class="span8"><%= render "newest_minorities" %></div>
</div>
<div class="row">
	<div class="span4"><%= render "newest_articles" %></div>
	<div class="span4"><%= render "newest_audios" %></div>
	<div class="span4"><%= render "newest_videos" %></div>
  <div class="span4"><%= render "newest_images" %></div>
	<div class="span4"><%= render "newest_infos" %></div>
	<div class="span4"><%= render "newest_users" %></div>
	<div class="span4"><%= render "newest_roles" %></div>
</div>
