<%- model_class = Category -%>

<%= render "base" %>

<%= simple_form_for :category, :url => destroies_admin_categories_path, :html => { :class => "search-form" }  do |f| -%>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="select-all"><%= check_box_tag "select_all" %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:key) %></th>
        <th><%= model_class.human_attribute_name(:specials_count) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th class="actions"><%= t("helpers.links.action") %></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td class="select-all">
            <%= check_box_tag "category_ids[]", category.id, false, :id => "category_#{category.id}" %>
          </td>
          <td><%= category.name %></td>
          <td><%= category.key %></td>
          <td><%= category.specials_count %></td>
          <td><%= l category.created_at.to_date, :format => :long %></td>
          <td class="actions">
            <% if can? :update, Category %>
              <%= link_to raw("<i class=\"icon-edit icon-large\"></i>"), 
                          edit_admin_category_path(category), 
                          :title => t("helpers.links.edit", :model_name => category.name),
                          :rel => :tooltip %>
            <% end -%>
            <% if can? :destroy, Category %>
              <%= link_to raw("<i class=\"icon-trash icon-large\"></i>"),
                          admin_category_path(category),
                          :method => :delete,
                          :title => t("helpers.links.destroy", :model_name => category.name),
                          :data => { :confirm => t("helpers.messages.confirm") },
                          :rel => :tooltip %>
            <% end -%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>

<div class="table-footer clearfix">
  <div class="paginates-info"><%= page_entries_info @categories %></div>
  <%= paginate @categories, :theme => "admin" %>
</div>