<li <%= "class=active" if controller_name == "home" %>>
	<%= link_to t("helpers.links.home"), admin_root_path, :title => t("helpers.links.home") %>
</li>
<% if can? :read, Province %>
	<li <%= "class=active" if controller_name == "provinces" %>>
		<%= link_to Province.model_name.human, admin_provinces_path, :title => Province.model_name.human %>
	</li>
<% end -%>
<% if can? :read, Category %>
	<li <%= "class=active" if controller_name == "categories" and action_name != "show" %>>
		<%= link_to Category.model_name.human, admin_categories_path, :title => Category.model_name.human %>
	</li>
<% end -%>

<% Category.all.each do |category| %>
  <li>
  	<%= link_to category.name, admin_category_path(category), :title => category.name %>
  </li>
<% end %>

<% if can? :read, Place %>
	<li <%= "class=active" if controller_name == "places" %>>
		<%= link_to Place.model_name.human, admin_places_path, :title => Place.model_name.human %>
	</li>
<% end -%>
<% if can? :read, User %>
	<li <%= "class=active" if controller_name == "users" %>>
		<%= link_to User.model_name.human, admin_users_path, :title => User.model_name.human %>
	</li>
<% end -%>
<% if can? :read, Role %>
	<li <%= "class=active" if controller_name == "roles" %>>
		<%= link_to Role.model_name.human, admin_roles_path, :title => Role.model_name.human %>
	</li>
<% end -%>
<% if can? :update, Setting %>
	<li <%= "class=active" if controller_name == "settings" %>>
		<%= link_to Setting.model_name.human, admin_settings_path, :title => Setting.model_name.human %>
	</li>
<% end -%>