<%= content_for :title do -%>
  <%= @model.name %>-地图
<% end -%>

<div class="small-logo clearfix">
  <a href="<%= polymorphic_area_path(@model) %>">返回上一页</a>
  <%= image_tag "index/small.logo.png", :alt => Setting.app_name, :title => Setting.app_name %>
</div>
<div class="bigmap">
  <%= image_tag  @image.image.url, :class => "bigMap", :alt => @model.name+"地图", :title => @model.name+"地图" %>
  <p class="font18">两指捏合缩放图片</p>
  <% @area.infos.order_asc.each do |info| %>
    <h6 class="item"><%= info.var %>：</h6>
    <p class="infor">
    <% if info.var.include?( "官网" ) %>
      <a href="http://<%= info.value %>" target="_blank"><%= info.value %></a>
    <% else %>
      <%= info.value %>
    <% end %>
    </p>
  <% end %>
  <div class="back_to"><a href="<%= polymorphic_area_path(@model) %>">返回上一页</a></div>
</div>

<%= content_for :scripts do -%>
  <script type="text/javascript">
    $(document).ready(function(){
			$("body").checkbrowser();
		});
  </script>
<% end -%>